In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Mumbai_Property.csv")

In [3]:
data.head()

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0

In [4]:
data.tail()

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_Name  2580 non-null   object
 1   Location       2580 non-null   object
 2   Region         2580 non-null   object
 3   Property_Age   2580 non-null   object
 4   Availability   2580 non-null   object
 5   Area_Tpye      2580 non-null   object
 6   Area_SqFt      2580 non-null   float64
 7   Rate_SqFt      2580 non-null   int64
 8   Floor_No       2580 non-null   int64
 9   Bedroom        2580 non-null   int64
 10  Bathroom       2580 non-null   int64
 11  Price_Lakh     2580 non-null   float64
dtypes: float64(2), int64(4), object(6)
memory usage: 242.0+ KB

In [6]:
data.columns

Index(['Property_Name', 'Location', 'Region', 'Property_Age', 'Availability',
       'Area_Tpye', 'Area_SqFt', 'Rate_SqFt', 'Floor_No', 'Bedroom',
       'Bathroom', 'Price_Lakh'],
      dtype='object')

In [7]:
data.describe()

,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
count,2580.000000,2.580000e+03,2580.000000,2580.000000,2580.000000,2580.000000
mean,1026.105058,1.911185e+04,8.839535,1.962016,2.066667,174.389806
std,2287.126278,4.076088e+04,8.100081,0.844726,0.749960,369.484393
min,33.570000,8.400000e+01,-1.000000,1.000000,1.000000,13.000000
25%,630.750000,8.791750e+03,3.000000,1.000000,2.000000,67.000000
50%,850.000000,1.378500e+04,6.000000,2.000000,2.000000,111.500000
75%,1156.000000,2.265000e+04,12.000000,2.000000,2.000000,200.000000
max,100000.000000,1.650000e+06,59.000000,6.000000,7.000000,16500.000000

In [8]:
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.replace('[^a-zA-Z0-9_]', '')

In [9]:
data.isna().sum()

Property_Name    0
Location         0
Region           0
Property_Age     0
Availability     0
Area_Tpye        0
Area_SqFt        0
Rate_SqFt        0
Floor_No         0
Bedroom          0
Bathroom         0
Price_Lakh       0
dtype: int64

In [10]:
filtered_data = data[(data['Price_Lakh'] >= 2000) & (data['Availability'] == 'Ready To Move')]

In [11]:
filtered_data

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
1416,Unnamed Property,Juhu Mumbai South West Mumbai,Juhu Mumbai,10+ Year,Ready To Move,Super Built Up Area,5700.0,42105,1,4,4,2400.0
2065,White City,005 Kandivali East Mumbai,Kandivali Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,1000.0,1650000,21,2,2,16500.0

In [12]:
data = pd.get_dummies(data, columns=['Property_Age'], prefix=['Property_Age'])

In [13]:
data.head()

,Property_Name,Location,Region,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh,Property_Age_0 to 1 Year,Property_Age_1 to 5 Year,Property_Age_10+ Year,Property_Age_5 to 10 Year,Property_Age_Under Construction
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0,True,False,False,False,False
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0,False,True,False,False,False
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0,False,False,True,False,False
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0,False,False,False,True,False
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0,False,False,False,True,False

In [14]:
data = pd.get_dummies(data, columns=['Availability'], prefix=['Availability'])

In [15]:
data.head()

,Property_Name,Location,Region,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh,Property_Age_0 to 1 Year,Property_Age_1 to 5 Year,Property_Age_10+ Year,Property_Age_5 to 10 Year,Property_Age_Under Construction,Availability_Ready To Move,Availability_Under Construction
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,Super Built Up Area,2900.0,17241,14,3,4,500.0,True,False,False,False,False,True,False
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,Super Built Up Area,1900.0,12631,8,3,3,240.0,False,True,False,False,False,True,False
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,Super Built Up Area,595.0,15966,3,1,2,95.0,False,False,True,False,False,True,False
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,Built Up Area,1450.0,25862,1,3,3,375.0,False,False,False,True,False,True,False
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,Carpet Area,876.0,39954,5,2,2,350.0,False,False,False,True,False,True,False

In [16]:
neighborhood_avg_prices = data.groupby('Area_Tpye')['Price_Lakh'].mean()

In [17]:
neighborhood_avg_prices

Area_Tpye
Built Up Area          138.621000
Carpet Area            184.005299
Plot Area              215.687500
Super Built Up Area    177.751004
Name: Price_Lakh, dtype: float64

In [18]:
from scipy import stats
z_scores = np.abs(stats.zscore(data['Price_Lakh']))
data_no_outliers = data[(z_scores < 3)]

In [19]:
data_no_outliers

,Property_Name,Location,Region,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh,Property_Age_0 to 1 Year,Property_Age_1 to 5 Year,Property_Age_10+ Year,Property_Age_5 to 10 Year,Property_Age_Under Construction,Availability_Ready To Move,Availability_Under Construction
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,Super Built Up Area,2900.0,17241,14,3,4,500.0,True,False,False,False,False,True,False
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,Super Built Up Area,1900.0,12631,8,3,3,240.0,False,True,False,False,False,True,False
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,Super Built Up Area,595.0,15966,3,1,2,95.0,False,False,True,False,False,True,False
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,Built Up Area,1450.0,25862,1,3,3,375.0,False,False,False,True,False,True,False
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,Carpet Area,876.0,39954,5,2,2,350.0,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,Built Up Area,1180.0,10338,2,2,2,122.0,False,True,False,False,False,True,False
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,Built Up Area,1090.0,8073,11,2,2,88.0,True,False,False,False,False,True,False
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,Built Up Area,1295.0,10579,6,2,2,137.0,False,True,False,False,False,True,False
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,Built Up Area,1850.0,9243,6,3,3,171.0,False,True,False,False,False,True,False
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,Built Up Area,1100.0,8636,4,2,2,95.0,True,False,False,False,False,True,False

In [20]:
data.to_csv('Cleaned_Mumbai_RealEstate_Data.csv', index=False)